	input[type="text"], 
	input[type="email"],
	input[type="tel"],
	input[type="date"],
	input[type="number"],
	select {
	display: block;
	width: 50%;
	height: 48px;
	font-size: 24px;
	border-radius: 2px;
	border: 2px #ccc solid;
}

	input[type="text"]:focus, 
	input[type="email"]:focus,
	input[type="tel"]:focus,
	input[type="date"]:focus,
	input[type="number"]:focus,
	select:focus {
		outline: none;
		border: 2px rgba(246,100,9, 0.5) solid;
	}

label {
	display: inline-block;
	margin-top: 15px;
}

.submit {
	width: 150px;
	height: 50px;
	margin: 15px 0;
}

.inquiry {
	@include flexbox(column, center, center);
	border: 2px rgba(246,100,9, 0.5) dotted;
	padding: 2em;
	margin: 2em;

	.form-title {
		margin-bottom: 1em;
	} 

	div {
		margin: 2em 0;

		input {
			border: 1px #ccc solid;
			border-radius: 5px;
			min-height: 40px;
			width: 100%;
		}

		textarea {
			border-radius: 5px;
			min-height: 150px;
			width: 100%;
		}
	}
}